﻿@{
    ViewData["Title"] = "Добавление файла";
}

<h3>Выберите файл для загрузки</h3>

    <input type="file" name="upload" id="uploadFile" multiple="multiple">
    <input type="submit" id="submit" class="btn btn-info" value="Загрузить" />


<script type="text/javascript">
   
    $('#submit').on('click', function (e) {
        e.preventDefault();
        var files = document.getElementById('uploadFile').files;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }
 
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddFile", "Home")',
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        alert(result);
                    },
                    error: function (xhr, status, p3) {
                        alert(xhr.responseText);
                    }
                });
            } else {
                alert("Ошибка!");
            }
        }
    });
</script>



<h3>Все файлы</h3>
<div class="row">
    @foreach (var f in Model)
    {
        <div class="col-sm-6 col-md-4 col-lg-3">
            <img src="@Url.Content(f.Path)" class="img-thumbnail">
        </div>        
    }
</div>